
<%- include ('partials/head') %>

<%- include ('partials/header') %>
        
        <% if (messages.error) { %>
            <%= messages.error %>
        <% } %>
        <h2>Bonjour <%= name %></h2>
        <form action="/logout?_method=DELETE" method="post">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>

        <% if (name) {%>
            pullOp
        <% } %>

<%- include ('partials/footer') %>