


<h1 class="text-4xl text-center">Blog articles</h1>


      <div class="container  mx-auto py-4 px-6">
        <% articles.forEach(article => { %>
          <div class="max-w-screen-lg mx-auto px-6 py-4 bg-white shadow-lg rounded-lg my-20">
            <div>
              <h2 class="text-gray-800 text-3xl font-semibold"><%= article.title %></h2> <%= article.createdAt.toLocaleDateString() %>
              <p class="mt-2 text-gray-600">#<%= article.category.title %></p>
              <p class="mt-2 text-black-600"><%= article.description %></p>
            </div>
            <div class="flex justify-end mt-4">
              <a href="/articles/<%= article.slug %>" class="text-xl font-medium text-indigo-500">Read more</a>
            </div>
          </div>
        <% })%>
      </div>